h1 {
  margin-top: 30px;
  text-align: center;
}

h3 {
  margin-top: 30px;
  text-align: center;
}

.form-section {
  margin-top: 30px;
}

.students-section {
  margin-top: 30px;
}

#error-message {
  color: red;
}

thead tr th {
  cursor: pointer;
}

#filter-form {
  display: flex;
  gap: 15px;
}

.error {
  border-color: red;
}